# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
library.db
.env

# Django
db.sqlite3
media/
staticfiles/
/static/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
